---
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactCTA from "../../components/ContactCTA.astro";
import PortfolioPreview from "../../components/PortfolioPreview.astro";
import Hero from "../../components/Hero.astro";
import Grid from "../../components/Grid.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = (await getCollection("work"))
  .filter((project) => project.id.startsWith(`${lang}/`))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout
  title="Mes Projets | Léo Hengebaert"
  description="Découvrez les projets les plus récents de Léo Hengebaert"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="Mes Projets"
        tagline="Découvrez ci-dessous mes projets les plus récents pour avoir une idée de mon expérience."
        align="start"
      />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
