---
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactCTA from "../../components/ContactCTA.astro";
import Hero from "../../components/Hero.astro";
import ServiceList from "../../components/ServiceList.astro";
import ServicesOffers from "../../components/ServicesOffers.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const services = (
  await getCollection("service", ({ id }) => {
    return id.startsWith(`${lang}/`);
  })
).sort((a, b) => a.data.order - b.data.order);
console.log(services);
---

<BaseLayout
  title={`${t("services.title")} | Léo Hengebaert`}
  description={t("services.description") as string}
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title={t("home.services.title") as string}
        tagline={t("home.services.description") as string}
        align="center"
      />
      <ServicesOffers />
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
