---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Léo Hengebaert" description="About Léo Hengebaert">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/portraitLeo.jpg"
          alt="Leo Hengebaert at work"
        />
      </Hero>

      <section>
        <h2 class="section-title">About me</h2>
        <div class="content">
          <p>
            Hi there! I'm Léo Hengebaert, a front-end developer based in Paris.
            I'm proud to currently work at Artefact, one of Europe's leading
            marketing and digital transformation consulting firms. Specializing
            in Artificial Intelligence (AI) and Data, Artefact delivers
            exceptional solutions to clients (LVMH, L'Oréal, Orange, SNCF, and
            many others...) to tackle the most complex challenges in the digital
            world.
          </p>
          <p>
            With a diverse team of passionate talents, Artefact has created a
            future-friendly advertising agency called Artefact 3000. This led me
            to join Artefact 3000's studio, a treasure trove for web artists,
            where designers and developers can unleash their digital potential
            to the fullest.
          </p>
          <p>
            Before joining Artefact, I had the privilege of working at Qare, an
            innovative company in the field of telemedicine and a major player
            in online healthcare. At Qare, I contributed to developing solutions
            that make access to healthcare easier for everyone, a mission that
            deeply resonates with my personal values.
          </p>
          <p>
            As a tech professional, I'm driven by a constant desire to learn and
            improve. My vision is one where technology enriches and enhances
            everyone's lives, where innovation is synonymous with inclusion and
            progress. My dedication to my work is reflected in every line of
            code I write, in every project I undertake.
          </p>
          <p>
            With a unique blend of experience at industry leaders like Artefact
            and Qare, I'm ready to tackle the most complex challenges and strive
            to shape the future of the web as best I can. Join me in this
            exciting adventure where technology meets creativity to create a
            better world, one project at a time.
          </p>
          <br />
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Web design training at CEFII (Center for Study and Training in
            Computer Science and Internet) - RNCP level 5
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">My Skills</h2>
        <div class="content">
          <ol>
            <li>
              Main Technical Skills:
              <ul>
                <li>Programming Languages: JavaScript, TypeScript</li>
                <li>Frameworks and Libraries: React, Next</li>
                <li>Development Tools: Git, Github, Gitlab</li>
                <li>
                  Testing and Debugging: Jest, React Testing Library, Cypress
                </li>
              </ul>
            </li>
            <li>
              Main Professional Skills:
              <ul>
                <li>
                  Project Management: Agile/Scrum, sprint management,
                  estimation, review, planning. Jira, Confluence, Slack.
                </li>
                <li>
                  Teamwork: Experience working in agile teams with developers,
                  designers, PO.
                </li>
                <li>
                  Problem Solving: Ability to effectively solve technical
                  problems.
                </li>
                <li>
                  Creativity: Ability to bring creative ideas to projects.
                </li>
              </ul>
            </li>
            <li>
              Languages:
              <ul>
                <li>French: Native language.</li>
                <li>English: Fluent (reading, writing, speaking).</li>
              </ul>
            </li>
          </ol>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
