---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Léo Hengebaert" description="About Léo Hengebaert">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/portraitLeo.jpg"
          alt="Leo Hengebaert at work"
        />
      </Hero>

      <section>
        <h2 class="section-title">About me</h2>
        <div class="content">
          <p>
            Je m'appelle Léo Hengebaert, un développeur passionné par la
            création et l'innovation. Ma carrière a commencé dans un tout autre
            domaine, celui de l'histoire et la géographie, mais mon amour pour
            la technologie et le digital que j'ai depuis toujours m'a poussé à
            suivre ma véritable passion et me reconvertir dans le web, ce qui a
            changé ma vie ! Après une formation de Webdesign, j'ai très vite
            voulu devenir développeur.
          </p>
          <br />
          <p>
            En tant que développeur, j'apporte une approche créative à chaque
            projet que j'entreprends. Ma curiosité insatiable m'a conduit à
            explorer un large éventail de technologies. Le javascript est le fil
            conducteur premier de mon travail et m'a amené naturellement aux
            frameworks comme React, qui est devenu ma librairie de prédilection.
            J'ai acquis une expérience pratique en travaillant sur une multitude
            de projets internes, démontrant ainsi ma capacité à relever divers
            défis de développement.
          </p>
          <br />

          <p>
            Mon passage chez Qare (2022), une start-up en pleine croissance dans
            le domaine de la santé, a été une expérience transformative et qui a
            donné naissance à ma carrière. Travailler au sein d'une équipe
            talentueuse et exigeante m'a permis d'affiner mes compétences en
            développement front-end et de me familiariser avec les méthodologies
            agiles. J'ai eu l'occasion de contribuer au succès d'une entreprise
            qui fait la différence dans le secteur de la téléconsultation
            médicale. J'y ai appris les bonnes pratiques, le clean code, les
            problematiques liées au tests, etc. autant de notions fondamentales
            quand on veut pouvoir travailler efficacement en équipe.
          </p>
          <br />

          <p>
            Ce qui me distingue en tant que développeur, c'est ma passion pour
            l'apprentissage continu. Je crois fermement que le monde de la
            technologie évolue rapidement, et c'est pourquoi je m'efforce
            constamment de rester à la pointe des dernières tendances et
            innovations. En constante évolution moi-même, j'entreprend un
            parcours pour devenir un développeur full-stack. Mon expérience en
            tant que développeur front-end chez Qare m'a permis d'acquérir une
            solide compréhension des technologies front-end telles que React,
            Redux/ Redux Saga, TypeScript et d'autres encore. Toutefois, ma soif
            d'apprentissage ne s'arrête pas là.
          </p>
          <br />
          <p>
            Je suis actuellement en train d'explorer Next.js, une bibliothèque
            combinant CSR et SSR, qui offre un aperçu de la puissance du
            javascript de nos jours. Mon objectif est de maîtriser cette
            technologie et de l'intégrer dans mon répertoire de compétences.
            Next.js offre une approche passionnante pour le développement
            full-stack, en permettant une intégration fluide entre le front-end
            et le back-end, ainsi qu'une gestion efficace du routage et des
            performances. Je m'intéresse aussi à Node.js, React Qwery, bref, à
            l'ensemble de l'écosytème React qui est tout simplement immense...
          </p>
          <br />

          <p>
            Si vous partagez ma passion pour le développement web et que vous
            recherchez un développeur dévoué et motivé pour votre prochain
            projet, n'hésitez pas à me contacter. Je suis toujours ouvert aux
            nouvelles opportunités de collaboration et je suis prêt à relever de
            nouveaux défis passionnants.
          </p>
          <br />
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Formation de webdesign au CEFII (Centre d'Étude et de Formation en
            Informatique et Internet) - RNCP niveau 5
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">My Skills</h2>
        <div class="content">
          <ol>
            <li>
              Compétences Techniques :
              <ul>
                <li>Langages de Programmation : JavaScript, TypeScript</li>
                <li>Frameworks et Bibliothèques : React, Redux, Redux Saga</li>

                <li>
                  Outils de Développement : Git, Github, Gitlab, Firebase,
                  styled-components
                </li>
                <li>
                  Tests et Débogage : Jest, React Testing Library, Cypress
                </li>
              </ul>
            </li>
            <li>
              Compétences Professionnelles :
              <ul>
                <li>
                  Gestion de Projet : Agile/Scrum, gestion des sprints,
                  estimation, review, planification. Jira, Confluence, Slack.
                </li>
                <li>
                  Communication : Bonnes compétences en communication écrite et
                  verbale.
                </li>
                <li>
                  Travail d'Équipe : Expérience de travail en équipe agile avec
                  des développeurs front-end, back-end et mobile.
                </li>
                <li>
                  Résolution de Problèmes : Capable de résoudre efficacement les
                  problèmes techniques.
                </li>
                <li>
                  Créativité : Aptitude à apporter des idées créatives aux
                  projets.
                </li>
              </ul>
            </li>
            <li>
              Langues :
              <ul>
                <li>Français : Langue maternelle.</li>
                <li>Anglais : Courant (lu, écrit, parlé).</li>
              </ul>
            </li>
            <li>
              Compétences Spécifiques à Votre Domaine : Si vous avez des
              compétences spécifiques liées à un secteur ou à une technologie
              particulière, comme la télémédecine dans votre cas, assurez-vous
              de les mettre en évidence.
            </li>
          </ol>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
