---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
---

<div class="container">
  <section class="box skills">
    <div class="stack gap-2 lg:gap-4">
      <div class="title_services">
        <h2>Landing Page</h2>
        <h5>300€</h5>
      </div>
      <div class="description_service">
        <ul>
          <li>Installation et Personnalisation de Divi</li>
          <li>Guidance pour l'Hébergement</li>
          <li>Optimisation SEO de Base</li>
          <li>Navigation Intuitive</li>
          <li>Sécurité et Conformité</li>
          <li>Mentions Légales Incluses</li>
        </ul>
      </div>
      <div class="button-container">
        <button class="button">
          <a href="/services/landing-page">
            Get landing page
            <p><span>&rarr;</span></p>
          </a>
        </button>
      </div>
    </div>
  </section>

  <section class="box skills bestdeal">
    <div class="pastille">#bestdeal</div>
    <div class="stack gap-2 lg:gap-4">
      <div class="title_services">
        <h2>Site Vitrine</h2>
        <h5>600€</h5>
      </div>

      <div class="description_service">
        <ul>
          <li>Installation et Personnalisation de Divi</li>
          <li>Guidance pour l'Hébergement</li>
          <li>Optimisation SEO de Base</li>
          <li>Navigation Intuitive</li>
          <li>Fonctionnalités Essentielles</li>
          <li>Conception Personnalisée</li>
          <li>Sécurité et Conformité</li>
          <li>Mentions Légales Incluses</li>
          <li>Formation de Base</li>
        </ul>
      </div>
      <div class="button-container">
        <button class="button">
          <a href="/sitevitrine/">Get site-vitrine<p><span>&rarr;</span></p></a>
        </button>
      </div>
    </div>
  </section>
  <section class="box skills">
    <div class="stack gap-2 lg:gap-4">
      <div class="title_services">
        <h2>Site e-commerce</h2>
        <h5>900€</h5>
      </div>
      <div class="description_service">
        <ul>
          <li>Installation et Personnalisation de Divi</li>
          <li>Guidance pour l'Hébergement</li>
          <li>Optimisation SEO de Base</li>
          <li>Navigation Intuitive</li>
          <li>Fonctionnalités Essentielles</li>
          <li>Conception Personnalisée</li>
          <li>Sécurité et Conformité</li>
          <li>Mentions Légales Incluses</li>
          <li>Configuration Complète de la Boutique</li>
          <li>Configuration Complète de la Boutique</li>
          <li>Formation Approfondie</li>
        </ul>
      </div>
      <div class="button-container">
        <button class="button">
          <a href="ecommerce/">Get e-commerce <p><span>&rarr;</span></p></a>
        </button>
      </div>
    </div>
  </section>
</div>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #f66a06;
  }
  .stack {
    width: 100%;
  }
  .title_services {
    display: flex;
    flex-direction: column;
    padding: 1em 2.5em;
    border-bottom: 1px solid var(--gray-800);
    text-align: center;
    width: 100%;
  }

  .description_service {
    padding: 0 2rem;
    padding-bottom: 7em;
  }
  .description_service ul {
    list-style-type: none; /* Position relative pour aligner l'icône */
  }

  .description_service li {
    position: relative; /* Position relative pour aligner l'icône */
  }

  .description_service li::before {
    content: "✔"; /* Utilise l'icône verte comme marqueur */
    color: green; /* Définit la couleur de l'icône */
    position: absolute; /* Position absolue pour l'icône */
    left: -1.5em; /* Décale l'icône vers la gauche */
  }

  .button-container {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .button {
    font-size: var(--text-md);
    width: 100%;
    padding-inline: 0;
    padding-block: 0;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }

  .button a {
    display: flex;
    justify-content: center;
    padding: 1.5em 0.3em 1em 0;
    color: #13072e;
    text-decoration: none;
    width: 100%;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }

  .button span {
    display: none;
  }

  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    margin: 1rem;
    background: linear-gradient(135deg, #13072e, #3f2182);
    box-shadow: var(--shadow-sm);
    width: 80%;
    position: relative;
  }

  .skills {
    display: flex;
    flex-direction: row;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .pastille {
    border-radius: 50px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #b3aaff;
    color: #13072e;
    position: absolute;
    right: 1em;
    top: 1em;
  }

  /* --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4.5rem; */

  @media (min-width: 67.5em) {
    .container {
      flex-wrap: nowrap;
      position: relative;
    }

    .box {
      border-radius: 1.5rem;
      padding: 1.5rem 0;
    }

    .title_services {
      text-align: left;
    }

    .skills {
      display: grid;
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-lg);
      margin-bottom: 1rem;
    }
    .skills h5 {
      font-size: var(--text-4xl);
      margin-bottom: 1rem;
    }

    .button-container {
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      bottom: 10px;
    }

    .button {
      font-size: var(--text-md);
      width: auto;
      border-radius: 50px;
      border: auto;
    }

    .button a {
      padding: 1.8em 0.3em 1.8em 2em;
      justify-content: space-between;
      color: #13072e;
      text-decoration: none;
    }

    .button span {
      display: initial;
      margin-left: 1em;
      border-radius: 50px;
      background-color: #13072e;
      padding: 1.5em;
      color: #fff;
    }

    .bestdeal {
      border: 1px solid #b3aaff;
      position: relative;
    }

    .pastille {
      border-radius: 50px;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-right: 1em;
      padding-left: 1em;
      background-color: #b3aaff;
      color: #13072e;
      position: absolute;
      right: 1em;
      top: 1em;
    }

    .vitrine {
      bottom: 20px;
    }
  }
</style>
