---
interface Props {
  images: {
    src: string;
    alt: string;
  }[];
}

const { images } = Astro.props;
---

<div class="w-full">
  <div class="swiper mySwiper h-[400px] mb-8">
    <div class="swiper-wrapper">
      {
        images.map((image) => (
          <div class="swiper-slide">
            <img
              src={image.src}
              alt={image.alt}
              class="w-full h-full object-cover rounded-[32px]"
            />
          </div>
        ))
      }
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from "swiper";
  import { EffectCoverflow, Pagination, Autoplay } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/effect-coverflow";
  import "swiper/css/pagination";

  new Swiper(".mySwiper", {
    modules: [EffectCoverflow, Pagination, Autoplay],
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    coverflowEffect: {
      rotate: 15,
      stretch: 0,
      depth: 300,
      modifier: 1,
      slideShadows: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

<style>
  .swiper-slide {
    width: 50%;
    height: 100%;
    aspect-ratio: 16/9;
  }

  .swiper-pagination {
    position: static;
    margin-top: 1rem;
  }

  :global(.swiper-pagination-bullet) {
    @apply text-gray-400 dark:text-gray-600;
    background-color: currentColor !important;
    opacity: 1 !important;
  }

  :global(.swiper-pagination-bullet-active) {
    @apply text-purple-700 dark:text-purple-300;
    background-color: currentColor !important;
    opacity: 1 !important;
  }

  @media (max-width: 768px) {
    .swiper-slide {
      width: 100%;
      height: auto;
    }
  }
</style>
