---
import * as ReactIcons from "react-icons/fa";

interface Props {
  name: string;
  color?: string;
}
const { name, color = "currentColor" } = Astro.props;
const IconComponent = ReactIcons[name as keyof typeof ReactIcons];
---

{
  IconComponent && (
    <span class="inline-block">
      <IconComponent size={24} color={color} />
    </span>
  )
}
